<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>



 

  </head>
  <body ng-app="review" ng-controller="review" ng-init="getPReviews();">
    <% include menu1.ejs %>
    <div style="height: 50px; display: block;"></div>
        <div class="container-fluid">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 15px 50px 50px 200px;">
          <br />
          
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#p_reviews" class="nav-link active" role="tab" data-toggle="tab">Products Reviews</a>
            </li>

            <li class="nav-item">
              <a href="#f_reviews" class="nav-link" role="tab" data-toggle="tab">Farmer Reviews</a>
            </li>            
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="p_reviews">
              <% for(var i=0; i < products.length; i++) { %>
  <div style="border: 4px solid;border-color: #DAD8D8; margin-bottom: 10px;">
      <div style="border-bottom: 2px solid #DAD8D8">
      <span style="font-weight: bold;">User:</span> Vansh <br>
      </div>
      <span style="font-weight: bold; color:green;"> Product Name:</span> Tomato <br>
      <span style="font-weight: bold; color:green;"> Ratings:</span> <%= products[0].reviews[i].rating %> / 5 <br>
      <span style="font-weight: bold; color:green;">Title: </span><%= products[0].reviews[i].review_title %> <br>
         <span style="font-weight: bold; color:green;"> Review: </span><%= products[0].reviews[i].review_desc %>
            </div>
<% } %>
          
            </div>
            <div role="tabpanel" class="tab-pane fade" id="f_reviews">

<% for(var i=0; i < farmer.object.length; i++) { %>
  <div style="border: 4px solid;border-color: #DAD8D8; margin-bottom: 10px;">
      <div style="border-bottom: 2px solid #DAD8D8">
      <span style="font-weight: bold; ">User: </span> Vansh<!-- <%= farmer.object[0].reviews[i].username %> --> <br>
      </div>
      <span style="font-weight: bold; color:green;"> Farmer Name:</span> Paul Jackob <br>
      <span style="font-weight: bold; color:green;" >Ratings:</span> <%= farmer.object[0].reviews[i].rating %>/5 <br>
     <span style="font-weight: bold; color:green;"> Title: </span><%= farmer.object[0].reviews[i].review_title %> <br>
        <span style="font-weight: bold; color:green;">  Review: </span> <%= farmer.object[0].reviews[i].review_desc %>
            </div>
<% } %>
            </div>
            
          </div>
          </div>  
 
        </div> 

    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
