<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
  </head>
  <body ng-app="amazon" ng-controller="amazon">
    <% include menu.ejs %>
    <div style="height: 50px; display: block;"></div>
    <div class="container-fluid">
      <div class="col-xs-9">
        <% include search.ejs %>
        </div>
        </div>
        <div class="container-fluid">
        <div class="col-lg-9">
        <div class="cat-list">
          <div class="row row-margin">
            <div class="col-md-2">
                   <h3>Show Results by</h3>
                  <h4>All Amazon Fresh Items</h4>
                  <h5><a href="/search?id=1">Fresh Fruits</a></h5>
                  <h5><a href="/search?id=2">Fresh Vegetables</a></h5>
                  <h5><a href="/search?id=3">Nuts</a></h5>
                  <h5><a href="/search?id=4">Herbs</a></h5>
                  <h5><a href="/search?id=5">Dairy</a></h5>
                  <h5><a href="/search?id=6">Dried Fruit</a></h5>
                  <h5><a href="/search?id=7">Eggs</a></h5>
                  <h5><a href="/search?id=8">Fresh Cut Flowers</a></h5>
                  <h5><a href="/search?id=101">Seeds</a></h5>

                  <!-- <h4>Refine By</h4><br>
                  <h6>Brands</h6><br>
                  <input class="form-control" id="inputdefault" type="text">
                  <div class="btn-group" >
                

                <ul class="scrollable-menu" role="menu">
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Brand1</a></li>
                    <li><a href="#">Brand2</a></li>
                    <li><a href="#">Brand3</a></li>
                    <li><a href="#">Brand4</a></li>
                    <li><a href="#">Brand5</a></li>
                    
                </ul><br><br>

                            <h5>Speciality</h5>   
            <div class="checkbox" style="font-size: 17px;">
      <label><input type="checkbox" style="font-size: 17px;" value="">Organic </label>
      </div>

            </div> -->

</div>
      <div class="col-md-8">
      <% for(var i=0; i < products.object.length; i++) { %>
        <div class="col-xs-3 no-padding">
      <div class="product-wrapper">
        <div class="itemInnerBorader">
          <a href="">
            <img src="/<%= products.object[i].product_img %>" class="" style="width: 140px; height: 140px; margin: 35px 45px 20px;">
          </a>
          <div class="productDetails">
            <div>
              <b>$<%= products.object[i].price %></b>
              <span class="unitPrice"> ($<%= products.object[i].price_unit %>/<%= products.object[i].unit %>) </span>
            </div>
            <div class="shortDetail capitalize">
              <a href="#">
                <%= products.object[i].name %>, <%= products.object[i].weight %> <%= products.object[i].unit %>
              </a>
            </div>
            <div class="bottomProduct">
              <div class="form-group pull-left">
                <select class="form-control productQuant" id="product<%= products.object[i].p_id %>">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <% if(typeof user == 'object') {%>
                <button class="add-to-cart" ng-click="addItem(<%= products.object[i].p_id %>)">Add to Cart</button>
              <% }else{ %>
                <button class="add-to-cart" style="background: #aaa; cursor: not-allowed; color: #fff">Add to Cart</button>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
      </div>
       
         


</div>
</div>
</div>
  <div class="col-lg-3">
        <% include cart.ejs %>
      </div>
</div>

<!-- 
        Vansh Shah -->

        
    <% include footer.ejs %>
    
    <% include js-lib.ejs %>

  </body>

</html>
