<div class="col-xs-12 no-padding" style="margin-top: 15px;">
	<div class="col-xs-12 no-padding">
		<div class="tiles">
			<span class="subdue">Browse</span>
			<span>Products</span>
	</div>
		<% for(var i=0; i<products.length; i++){ %>
		<div class="col-xs-3 no-padding">
			<div class="product-wrapper">
				<div class="itemInnerBorader">
					<a href="">
						<img src="<%= products[i].product_img %>" class="" style="width: 140px; height: 140px; margin: 35px 45px 20px;">
					</a>
					<div class="productDetails">
						<div>
							<b>$<%= products[i].price %></b>
							<span class="unitPrice"> ($<%= products[i].price_unit %>/<%= products[i].unit %>) </span>
						</div>
						<div class="shortDetail capitalize">
							<a href="#">
								<%= products[i].name %>, <%= products[i].weight %> <%= products[i].unit %>
							</a>
						</div>
						<div class="bottomProduct">
							<div class="form-group pull-left">
								<select class="form-control productQuant" id="product<%= products[i].p_id %>">
									<% for(var j=1; j<=10; j++){ %>
									<option value=<%= j %>><%= j %></option>
									<% } %>
								</select>
							</div>
							<% if(typeof user == 'object') {%>
								<button class="add-to-cart" ng-click="addItem(<%= products[i].p_id %>)">Add to Cart</button>
							<% }else{ %>
								<button class="add-to-cart" style="background: #aaa; cursor: not-allowed; color: #fff">Add to Cart</button>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>