<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
    <script type="text/javascript">
$(window).load(function(){
  $('#rating_1').RatingStar({callback:function(val){$('#result_1').html(val)}});
 $('#rating_2').RatingStar();
});
</script>
  </head>
  <body>
    <% include menu.ejs %>
    <div style="height: 50px; display: block;"></div>

<div ng-app="Product" ng-controller="formCtrl" class="container-fluid">
 <div class="ro">
    <div class="col-sm-9" >
            <% if(value == true) { %>
    <div class="col-sm-3">
      <a ng-href="{{magic_zoom}}" class="MagicZoom"><img ng-src="{{lrg_image}}" style="width: 300px; height: 300px;"></a>
      <div id="imageCaption"style="font-size: 0.92em;text-align: center;">Roll over image to zoom in</div>
      <div id="thumbnailsWrapper" class="row" >
            <span class="detailPageThumbnail col-sm-2" style="width: 50px; height: 50px;">
                <img src="/<%= products.object[0].product_img %>" ng-mouseover="change_image1()" HEIGHT="50" WIDTH="50" border="0" class="thumbnail" alt="Product Image" >
            </span>
            <% if(typeof products.object[0].images[0] != 'undefined') {
            if(products.object[0].images[0] != "") { %>
        <span class="detailPageThumbnail col-sm-2" style="width: 50px; height: 50px;">
                <img src="/<%= products.object[0].images[0] %>" ng-mouseover="change_image2()" HEIGHT="50" WIDTH="50" border="0" class="thumbnail" alt="Product Image" >
            </span>
            <% } }%>
            <% if(typeof products.object[0].images[1] != 'undefined') {
            if(products.object[0].images[1] != "") { %>
            <span class="detailPageThumbnail col-sm-2" style="width: 50px; height: 50px;">
                <img src="/<%= products.object[0].images[1] %>" ng-mouseover="change_image3()" HEIGHT="50" WIDTH="50" border="0" class="thumbnail" alt="Product Image" >
            </span>
            <% } }%>
            <% if(typeof products.object[0].images[2] != 'undefined') {
            if(products.object[0].images[2] != "") { %>
             <span class="detailPageThumbnail col-sm-2" style="width: 50px;height: 50px;">
                <img src="/<%= products.object[0].images[2] %>" ng-mouseover="change_image4()" HEIGHT="50" WIDTH="50" border="0" class="thumbnail" alt="Product Image" style="width: 50px; height: 50px;">
            </span>
            <% } }%>
            <% if(typeof products.object[0].images[3] != 'undefined') {
            if(products.object[0].images[3] != "") { %>
            <span class="detailPageThumbnail col-sm-2" style="width: 50px; height: 50px;">
                <img src="/<%= products.object[0].images[3] %>" ng-mouseover="change_image5()" HEIGHT="50" WIDTH="50" border="0" class="thumbnail" alt="Product Image" >
            </span>
            <% } }%>
            <% if(typeof products.object[0].images[4] != 'undefined') {
            if(products.object[0].images[4] != "") { %>
            <span class="detailPageThumbnail col-sm-2" style="width: 50px; height: 50px;">
                <img src="/<%= products.object[0].images[4] %>" ng-mouseover="change_image6()" HEIGHT="50" WIDTH="50" border="0" class="thumbnail" alt="Product Image">
            </span>
            <% } }%>
    </div>

      </div>
      <div class="col-sm-9">
      <br>
      <h4 class="capitalize"><%= products.object[0].name %>, <%= products.object[0].weight %> <%= products.object[0].unit %></h4>
      <h5 style="font-weight: bold;">Other products by | <a style="text-decoration: underline; color:green;" href="/farmer_page?id=<%= products.object[0].f_id %>"> <%= products.object[0].f_name %> </a></h5>
      <div class="row">
      <% if(typeof avg_rating != 'undefined') {
            if(avg_rating != "") { %>
    <span id="rating_2" class="rating" data-val="<%= avg_rating %>" data-stars="5" data-change="false"> (<%= t_length %>)</span>
    <% } }%>
    <span id="rating_2" class="rating" data-val="0" data-stars="5" data-change="false"></span>
</div>
<div class="price">
                <span class="value"><h4><strong>$<%= products.object[0].price %></strong>  ($<%= products.object[0].price_unit %>/<%= products.object[0].unit %>)</h4></span>
</div><br></div>

<div class="row">
<% if(typeof products.object[0].quantity != 'undefined') {
            if(products.object[0].quantity <= 5) { %>
<h5 style="color: red">Only <%= products.object[0].quantity %> items remaining</h5>
<% } }%>
<div class="row" ng-show="e_addtocart">

<select class="form-control productQuant" style=" align-content: left; width: 62px;height: 32px; float:left; margin-right: 20px" id="product<%= products.object[0].p_id %>">

                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

<button type="button" class="checkout-btn" style=" align-content: right; width: 102px;height: 31px;color: black;margin: 0px;font-weight: none" ng-click="addItem(<%= products.object[0].p_id %>)" class="checkout-btn" >Add to Cart</button>
<<<<<<< HEAD
</div>
=======
>>>>>>> 2001d83786338838e0a919693843468925e4cc37
<button type="button" class="checkout-btn" style="width: 102px;height: 31px;color: black;margin: 0px" ng-model="disabled_button" ng-show="d_addtocart" disabled>Add to Cart</button>
<h5 style="font-size: 0.9em">Sold by AmazonFresh. Shipped by AmazonFresh.</h5>


</div>

      </div>
    </div>
    </div>
    <% } %>
    <div class="col-sm-3" ng-show="cart">
     <% include cart.ejs %>
 </div>
<% if(value == true) { %>
<div class="row">
  <div class="col-sm-10">
  
  <div id="product_features" style="border-bottom: 1px dashed #e0ddd6" >
  <% if(typeof products.object[0].features != 'undefined') {
            if(products.object[0].features != "") {
      %>
  <h5 style="font-weight: bold;">Product Features</h5>
  <ul style="list-style-type: disc;">
   <h5><%= products.object[0].features %></h5> 
        </ul>
<% } }%>
</div>

<div id="product_description" style="border-bottom: 1px dashed #e0ddd6" ng-show="description"> 
        <% if(typeof products.object[0].description != 'undefined') {
            if(products.object[0].description != "") {
      %>
        <h5 style="font-weight: bold;">Product Description</h5>
            <h5><%= products.object[0].description %></h5> 
<% } }%>
    </div>
    <div class="product_details" style="border-bottom: 1px dashed #e0ddd6" ng-show="details">
  <% if(typeof products.object[0].details != 'undefined') {
            if(products.object[0].details != "") {
      %>
  <h5 style="font-weight: bold;">Product Details</h5>
  <h5><%= products.object[0].details %></h5>
<% } }%>    
</div><br>
<div class="review" >
          <h5>Customer Ratings and Reviews</h5>
<button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal" style="background-color: lightgrey; color: black; border-color: lightgrey;">Create a Review</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">Create your Review</h1>
        </div>
        <div class="modal-body">
<html>
<body>
<div class="review" style="width:80%">  
    <div class="customerReviews">
        <form name="TheForm1" action="/create_review" method="post">
        <input type="hidden" name="p_id" id="p_id" value="<%= products.object[0].p_id %>"></input>
            <div class="createReview">
                How do you rate this item?
                <span id="rating_1" class="rating" ></span>
                <span><label id="result_1" ng-model="starr"></label></span>
            </div>
            <div class="createReview">
                <br>What is the title of your review? <span class="titleBox"><input class="textField" ng-model="frm.title" id="Title" type="text" maxlength="100" size="40" name="title"></span>    
            </div>
            <div class="createReview">
                Write your review <br><br>                   
<span class="reviewBox"><textarea class="textArea" id="YourReview" cols="100" ng-model="frm.review" rows="10" name="review" style="width:80%"></textarea></span> 
            </div>
<button type="submit" class="btn btn-primary btn-sm" >Submit</button>
        </form>
    </div>
</div>
        </div>
        
      </div>
      
    </div>
  </div>
  <br><br>
  
  
<% for(var i=0; i < products.object[0].reviews.length; i++) { %>
  <div style="border: 2px solid;border-color: #DAD8D8; margin-bottom: 10px;">
      <div style="border-bottom: 2px solid #DAD8D8">
     <h6> User: <%= products.object[0].reviews[i].username %>
      </div>
      Ratings: <%= products.object[0].reviews[i].rating %>/5 <br>
      Title: <%= products.object[0].reviews[i].review_title %> <br>
          Review: <%= products.object[0].reviews[i].review_desc %></h6>
            </div>
<% } %>
          
          
  </div> <% } %>
  <br>
  <div class="disclaimerText" style=" font-size: 10px;  width: 1560px;
    height: 22px;
    border: 1px solid black;"> 
    <strong>Freshness Guarantee:</strong> AmazonFresh guarantees every product will be delivered to your home well within the manufacturer's recommended <i>use by</i>, <i>sell by</i>, <i>best by</i>, or <i>expiration</i> date.
</div><br>
<div class="disclaimerText"  style=" font-size: 10px;  width: 1560px;
    height: 72px;
    border: 1px solid black;">  
    <strong>Disclaimer:</strong>  While we work to ensure that product information is correct, on occasion manufacturers may alter their ingredient lists. Actual product packaging and materials may contain more and/or different information than that shown on our Web site. We recommend that you do not solely rely on the information presented and that you always read labels, warnings, and directions before using or consuming a product. For additional information about a product, please contact the manufacturer. Content on this site is for reference purposes and is not intended to substitute for advice given by a physician, pharmacist, or other licensed health-care professional. You should not use this information as self-diagnosis or for treating a health problem or disease. Contact your health-care provider immediately if you suspect that you have a medical problem. Information and statements regarding dietary supplements have not been evaluated by the Food and Drug Administration and are not intended to diagnose, treat, cure, or prevent any disease or health condition. AmazonFresh assumes no liability for inaccuracies or misstatements about products.
</div>
</div>
</div>
 </div>
<% if(value == true) { %>
 <script> 
 var session = <%= session %>;
 var image1 = "<%= products.object[0].product_img %>";
 var image2 = "<%= products.object[0].images[0] %>";
 var image3 = "<%= products.object[0].images[1] %>";
 var image4 = "<%= products.object[0].images[2] %>";
 var image5 = "<%= products.object[0].images[3] %>";
 var image6 = "<%= products.object[0].images[4] %>";
 var p_id =   "<%= products.object[0].p_id %>";
</script>
<% } %>
<% include footer.ejs %>
<% include js-lib.ejs %>
</body>
</html>